body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a{
    text-decoration: none;
}

.header-container {
    background-color: #1F2937;
    padding-left: 20%;
    padding-right: 20%;
}

.header-container header{
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
}

.header-logo a{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links a{
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    width: 300px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.hero {
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-between;
    background-color: #1F2937;
}

.hero-main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero p {
    margin:0;
    width: 400px;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    width: 110px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    color: #F9FAF8;
}

.information {
    display: flex;
    justify-content: center;
}

.info-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    gap: 30px;
}

div {
    border: 1px solid red;
}

img {
    border: 4px solid blue;
    border-radius: 7px;
}

.card1 p, .card2 p, .card3 p, .card4 p{
    width: 150px;
    color: black;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    width: 40%;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-container p {
    margin: 0px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882F6;
    margin-left: 20%;
    margin-right: 20%;
    height: 100px;
    gap: 20%;
    border-radius: 8px;
}

.button-section p {
    margin: 0;
    color:#E5E7EB;
}

.button-section p.action {
    font-weight: 800;
}

.button1 {
    border: 2px solid #E5E7EB;
}