body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.hero-container {
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

.hero-container header{
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
}

.hero-logo a{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-links a{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo {
    display: flex;
    align-items: center;
}

.hero-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

